<div class="container">
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Transactions" %>

  <h1>Transactions</h1>

  <div id="transactions">

    <table class="table table-striped table-bordered mt-5">
      <thead>
      <tr class="bg-dark text-light">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
        <th scope="col">User</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <th scope="row">1</th>
          <td><%= transaction.name %></td>
          <td><%= transaction.amount %></td>
          <td><%= transaction.status %></td>
          <td><%= transaction.user.email %></td>
          <td>
            <%= link_to "Details", transaction, class: "btn btn-primary btn-sm" %>
          </td>
        </tr>
      <% end %>

      </tbody>
    </table>

    <%# @transactions.each do |transaction| %>
    <%#= render transaction %>
<!--        <p>-->
    <%#= link_to "Show this transaction", transaction %>
<!--        </p>-->
    <%# end %>
  </div>

  <%= link_to "New transaction", new_transaction_path %>
</div>


